.game-window{
    width: 430px;
    height: 332px;
    background-color: #76604a;
    box-sizing: border-box;
   
}

.stats-window{
    float: right;
    width: 120px;
    height: 332px;
    background-color: #ddc7b2;
    box-sizing: border-box;
    padding-top: 10px;
    color: #76604a;
    font-family: "Comic Sans MS", "Arial", serif;
    text-align: center;
}

.stats-window .stats{
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 20px;
}

.stats-window .steps{
    display: inline-block;
    padding-bottom: 20px;
}

.game-board{
    float: left;
    width: 270px;
    height: 312px;
    background-color: #c1ac98;
    margin: 10px 20px;
    padding: 3px 5px 4px;
    box-sizing: border-box;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor: default;
}

.game-field{
    width: 260px;
    height: 260px;
    margin-bottom: 4px;
    box-sizing: border-box;
    position: relative;
}

.button-panel{
    width: 260px;
    height: 40px;
    background: url('../images/button.png') no-repeat;
    border-radius: 9px;
    box-shadow: 3px 3px 3px 0 #5f5145;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.button-panel span:before{
    font-size: 26px;
    color: #032a1b;
    display: inline-block;
    height: 18px;
    width: 22px;
    text-shadow: -1px -3px 4px #83ffc1;
}

.game-field div{
    position:absolute;
    font-size: 26px;
    font-family: "Comic Sans MS", "Arial", serif;
    text-align: center;
    line-height: 65px;
    color: #1c478d;
    border-radius: 6px;
    box-shadow: 3px 3px 3px 0 #5f5145;
}

.pause-window{
    background: #92e9fd;
    width: 310px;
    height: 332px;
    float: left;
    display: none;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    box-sizing: border-box;
    border: 10px solid #6c9ef0;
    border-style: double;
    position: relative;
}

.pause-window img{
    width: 100px;
    margin: 100px auto;
    z-index: 200;
    position: relative;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
}

.pause-window div{
    color: #6fb8f8;
    font-family: "Comic Sans MS", "Arial", serif;
    font-size: 30px;
    position: absolute;
    z-index: 100;
}

.pause-window .icon{
    color: #0176ff;
    font-size: 150px;
    width: 80px;
    height: 95px;
    position: relative;
    top: 100px;
    padding: 0;
    margin: auto;
    text-shadow: 0 0 150px #ffffff,
               
}

.pause-window .icon:before{
    position: relative;
    left: -35px;
    top: -43px;
}

.pause-window .icon:hover{
    text-shadow:  3px 5px 5px #0060fa;
}

.win-window {
    width: 430px;
    height: 332px;
    background-color: #ffc7e3;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
    padding-top: 140px;
    font-weight: bold;
    color: deeppink;
    display: none;
}

.game-field [class |= "move"]{
    transition: all 1s ease;
}

.game-field .move-right{
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
    color: red;
}

.game-field .move-left{
    -webkit-transform: translateX(-65px);
    transform: translateX(-65px);
    color: red;
}
.game-field .move-up{
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    color: red;
}

.game-field .move-down{
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
    color: red;
}

.sound{
    position: relative;
    float: right;
    right: 10px;
    bottom: 20px;
    color: #76604a;
}

.sound:hover{
    text-shadow: -2px -2px 8px #fff;
}

.win-window span{
    position: relative;
    display: inline-block;
    top: 50px;
    right: 110px;
}









